@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: auto;
    max-width: 1550px;
    // border: 1px solid;
}

header {    
    // margin-top: 1rem;


    // hr {
    //     // margin-top: 1rem;
    // }

    .sansa {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #F1FDDF;
        padding: 1rem 0;


        ul {
            display: flex;
            gap: 1rem;


            li {
                list-style: none;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.5px;
                color: #101110;
            }

            .home {
                color: #8AC732;
            }

        }

        .buttons {
            display: flex;
            gap: 1rem;


            button {
                background: none;
                border: none;
                width: 40px;
                cursor: pointer;

                
            }

            .count {
                position: relative;

                span {
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    background-color: red;
                    color: #FFFFFF;
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 12px;
                }
            }

        }
    }


    .product-collection {
        display: flex;
        // flex-wrap: wrap;
        gap: 95px;
        padding: 2.5rem 6rem;

        .info {
            padding: 5rem;
            // border: 1px solid;

            h1 {
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 32px;
                line-height: 40px;
                letter-spacing: 0px;
                color: #1A1C16;
            }


            p {
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 20px;
                line-height: 36px;
                letter-spacing: 0px;
                color: #484A47;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }

            .shop-learnmore {   
                display: flex;
                gap: 8px;

                .btn {
                    width: 113px;
                    padding: .5rem 1rem;
                    border-radius: 100px;
                    border: none;
                    background: none;
                    border: 1px #6A6C68 solid;
                    color: #8AC732;
                    font-family: "Roboto", sans-serif;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.1px;
                    vertical-align: middle;

                }

                .shopbtn {
                    background-color: #8AC732;
                    border: none;
                    color: #FFFFFF;
                }
            }
        }

        img {
            padding-inline: 5rem;
            
        }
    }
}


.HTO {
    margin-top: 3rem;
    padding: 2rem 5rem;
    background-color: #F3F3F3;

    h3 {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
        letter-spacing: 0px;
        margin: auto;
        width: 290px;
        text-align: center;
        margin-bottom: 2rem;
        // text-decoration: underline 1px #8AC732;
        padding: 5px 0;
        border-bottom: 1px solid #8AC732;

    }


    .hto-container {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        max-width: 1036px;
        gap: 1rem;
        justify-content: space-around;


        .item {
            padding: 1rem;
            width: 308px;
            text-align: center;
            border: 1px solid #B3B7B1;
            border-radius: 8px;

            h2 {
                font-family: "Inter", sans-serif;
                font-weight: 500;
                font-size: 32px;
                line-height: 40px;
                letter-spacing: 0%;
                color: #101110;
                padding: 1rem 0;
            }

            p {
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.5px;
                color: #484A47;
            }
            
        }
    }

}


.RAS {
    padding: 2.5rem 5rem;

    h3 {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
        letter-spacing: 0px;
        margin: auto;
        width: 220px;
        text-align: center;
        margin-bottom: 2rem;
        // text-decoration: underline 1px #8AC732;
        padding: 5px 0;
        border-bottom: 1px solid #8AC732;

    }

    .ras-container {
        margin: auto;
        // display: flex;
        // grid-template-columns: repeat(2, 1fr);
        // flex-wrap: wrap;
        gap: 2rem;
        max-width: 1036px;

        .item {
            margin: auto;
            width: 490px;
            padding: 1rem;
            border: 1px solid #B3B7B1;
            border-radius: 8px;

            

            .pr {
                display: flex;
                align-items: center;
                gap: 1rem;
                height: 62px;

                img {
                    width: 75px;
                }

                div {
                    display: flex;
                    flex-direction: column;
                    // gap: .3rem;
                    // border: solid;

                    h4 {
                        font-family: "Roboto", sans-serif;
                        font-weight: 400;
                        font-size: 22px;
                        line-height: 28px;
                        letter-spacing: 0px;
                        color: #101110;
                    }

                    p {
                        font-family: "Roboto", sans-serif;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: 0.5px;
                        color: #484A47;
                    }
                }
            }

            p {
                padding: 1rem 0 0 0;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #292A28;
            }


        }
    }
}

.WYP {
    padding: 3rem 5rem;
    background-color: #F3F3F3;




    h3 {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
        letter-spacing: 0px;
        margin: auto;
        width: 220px;
        text-align: center;
        margin-bottom: 3rem;
        // text-decoration: underline 1px #8AC732;
        padding: 5px 0;
        border-bottom: 1px solid #8AC732;
    }


    .wyp-container {
        margin: auto;
        display: flex;
        max-width: 790px;
        flex-wrap: wrap;
        justify-content: space-between;


        button {
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            line-height: 64px;
            letter-spacing: -0.25px;
            color: #8AC732;
            font-size: 57px;
            padding: 1.2rem 1rem;
            border-radius: 12px;
            border: 1px solid #C5C8B9;
    
    
            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.5px;
                color: #8D918C;
                text-align: start;
            }
    
        }
    }
}

.BSP {
    padding: 3rem 15rem;

    h3 {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
        letter-spacing: 0px;
        margin: auto;
        width: 220px;
        text-align: center;
        margin-bottom: 3rem;
        // text-decoration: underline 1px #8AC732;
        padding: 5px 0;
        border-bottom: 1px solid #8AC732;
    }

    .clothing-shoes {
        margin: auto;
        display: flex;
        justify-content: space-around;
        max-width: 1036px;
        align-items: center;

        .line {
            width: 383.5px;
            height: 4px;
            background-color: #8AC732;
            border-radius: 30px;
        }

        .buttons {
            display: flex;
            width: 223px;
            justify-content: space-between;
            border: 1px solid #DADFD8;
            border-radius: 8px;
            padding: 5px 5px;

            // flex-direction: column;
            // gap: 1rem;

            button {
                width: 96px;
                height: 44px;
                border-radius: 8px;
                border: none;
                background: none;
                font-family: "Inter", sans-serif;
                font-weight: 400;
                font-size: 16px;
                cursor: pointer;
                line-height: 24px;
                letter-spacing: 0%;
                color: #101110;
                    transition:
                        background-color 0.5s ease-in-out,
                        color 0.5s ease-in-out,
                        box-shadow 0.3s ease,
                        transform 0.3s ease;
            }

            .green {
                background-color: #8AC732;
                color: #FFFFFF;

                
            }


        }
    }

    .seemore {
        margin-left: 100%;
        width: 150px;
        position: relative;
        padding: 10px 20px;
        border-radius: 7px;
        border: 1px solid rgb(56, 205, 33);
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
        background: transparent;
        color: #fff;
        overflow: hidden;
        box-shadow: 0 0 0 0 transparent;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;

        a {
            text-decoration: none;
            color: green;
        }
    
    }

    .container {
        margin: auto;
        margin-top: 4rem;
        display: flex;
        max-width: 1036px;
        // gap: 1rem;
        justify-content: space-between;
        flex-wrap: wrap;
        // border: #101110 solid;


        .card {
            width: 308px;
            padding: 24px;
            border: 1px solid #C6C6C6;
            border-radius: 8px;
            // background-color: aqua;

            .discount {
                width: max-content;
                height: 44px;
                top: 10px;
                padding: 10px;
                border-radius: 29px;
                display: flex;
                align-items: center;
                color: #FFFFFF;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.5px;
                background-color: #8AC732;
            }

            img {
                transition: transform 0.4s ease, filter 0.3s ease;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.05);
                    filter: brightness(1.1) contrast(1.05);
                }
            }

            h2 {
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 32px;
                line-height: 40px;
                letter-spacing: 0px;

            }

            p {
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.5px;
                color: #484A47;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }

            .price {
                display: flex;
                justify-content: space-between;
                

                h2 {
                    font-family: "Inter", sans-serif;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    letter-spacing: 0%;
                    color: #101110;
                    
                }


                .addbtn {
                    background: none;
                    border: none;

                    img {
                        width: 32px;
                    }
                }

            }
            
            .liked {
                width: 20px;
                background-color: red;
                border-radius: 50%; // ixtiyoriy
                padding: 4px;
                display: inline;
                

                transition: 
                    background-color 0.3s ease-in-out,
                    transform 0.3s ease;

            }


        }
    }

    .shoes-container {
        display: none;
    }


}


.DP {
    background-color: #F3F3F3;


    .dp-container {
        

        .card {
            background-color: #FFFFFF;

            h2 {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                
            }

            .price {
                align-items: center;
                
                p {
                    font-family: "Roboto", sans-serif;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.15px;
                    text-decoration: line-through;
                    color: #8D918C;
                }
            }
        }
    }
}












// page2.html 

.hp {
    margin: auto;
    max-width: 1271px;
    display: flex;
    margin-top: 2.5rem;
    margin-bottom: 1rem;



    .home {
        color: #B3B7B1;
    }

    p {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.5px;
        color: #101110;
        cursor: pointer;
        
    }
}


.all-products {
    margin: auto;
    max-width: 1271px;
    display: flex;
    justify-content: space-between;

    h1 {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 0px;
        color: #101110;
        
    }

    .search {
        display: flex;
        align-items: center;
        width: 359px;
        justify-content: space-around;
        border-radius: 4px;
        border: 1px solid #8D918C;
        padding: .2rem;


        img {
            width: 16px;
        }

        input {
            width: 80%;
            height: 40px;
            border-radius: 8px;
            border: none;
            padding: 0 10px;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.5px;
            color: #484A47;

            &:focus {
                outline: none;
                border-color: #8AC732;
            }
        }




    }
}

.products-info {
    margin: auto;
    max-width: 1280px;
    // border: solid;
    padding: 0;
    margin-top: 3rem;

    .products {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 {
            width: max-content;
            margin: 0;
            
        }

        a {
            text-decoration: none;
            color: #8AC732;
            font-family: "Roboto", sans-serif;
            font-weight: 800;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.5px;
            
        }
    }

    .container {
        margin-top: 2rem;
        max-width: 1272px;
        display: flex;
        flex-wrap: nowrap;
        gap: 2rem;

        .card {
            // width: 40rem;
    

            img {
                width: 260px; 
                overflow: hidden;
                object-fit: cover;
                // height: 260px;  
            }

            h2 {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .like {
                width: 20px;
                height: 20px;
            }
        }
    }
}

footer {
    margin-top: 3rem;
    padding: 40px 202px;
    display: flex;
    background-color: #F3F3F3;
    justify-content: space-between;


    .item {

        h3 {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 22px;
            line-height: 28px;
            letter-spacing: 0px;
            color: #101110;
            margin-bottom: 1.5rem;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            li {
                list-style: none;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.5px;
                color: #44483D;
            }
        }
    }

    .connect {

        ul {

            li {
                display: flex;
                align-items: center;
                gap: .5rem;
            }
        }
    }



}

.back {
    margin: auto;
    max-width: 1271px;

    button {
        display: flex;
        background: none;
        gap: 1rem;
        border: none;
        align-items: center;
        cursor: pointer;

        p {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 28px;
            line-height: 36px;
            letter-spacing: 0px;
            color: #1A1C16;
        }
    }
}


// detail.html

.productdetail {
    margin: auto;
    max-width: 1271px;
    display: flex;
    // justify-content: space-between;
    

    .product-img {
        width: 775px;
        // border: solid;
        display: flex;
        flex-direction: column;
        align-items: center;

        .main-img {
            margin: auto;
            transition: transform 0.4s ease, filter 0.3s ease;

            &:hover {
                cursor: pointer;
                transform: scale(1.05);
                filter: brightness(1.1) contrast(1.05);
            }
        }

        .img-list {
            display: flex;
            gap: 1rem;
            margin-top: 1rem;


            img {
                width: 76px;
                padding: 8px;
                border-radius: 8px;
                border: 1px solid #E1E4D5;

            }
        }
    }

    .product-detail {
        h2 {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 32px;
            line-height: 40px;
            letter-spacing: 0px;
            color: #101110;
        }

        p {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.5px;
            color: #484A47;
            margin-top: 1rem;
        }

        .st {
            display: flex;
            gap: 1rem;
            align-items: center;

            .views {
                font-size: 13px;
                line-height: 20px;
                letter-spacing: 0.25px;
                text-decoration: underline solid #44483D;
            }
        }

        h1 {
            margin-top: 1.5rem;
            font-family: "Roboto", sans-serif;
            font-size: 36px;
            line-height: 44px;
            letter-spacing: 0px;
            
        }

        .qty {
            width: 440px;
            display: flex;
            align-items: center;
            gap: .7rem;
            margin-top: 1rem;
            padding: 24px;
            border-radius: 12px;
            border: 1px solid #E1E4D5;


            p {
                margin: 0;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.4px;
                // align-items: center;
            }
            .qtycount {
                font-weight: 700;
                font-size: 16px;
            }

            button {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                border: none;
                font-size: 15px;
                font-weight: 500;
                cursor: pointer;
            }

        }

        .buttons {
            display: flex;
            gap: 1rem;
            margin-top: 1rem;


            button {
                font-family: "Roboto", sans-serif;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.1px;
                cursor: pointer;
            }
            .addtocart {
                width: 282px;
                height: 48px;
                border-radius: 100px;
                border: none;
                background-color: #8AC732;
                color: #FFFFFF;
            }

            .addtofavorite {
                width: 142px;
                height: 48px;
                border-radius: 100px;
                border: 1px #6A6C68 solid;
                color: #8AC732;
                background: none;
            }

        }
    }


}

.tym {
    margin-top: 5rem;
}

.shb {
    margin: auto;
    max-width: 1271px;

    h1 {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 0px;
        color: #101110;
    }
}

.shopping-bag {
    margin: auto;
    max-width: 1271px;
    margin-top: 5rem;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    position: relative;
    
    .paymet-m {
        width: 775px;
        height: 191px;
        // background-color: #6A6C68;
        padding: 3rem 1rem;
        border-radius: 24px;


        h3 {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 22px;
            line-height: 28px;
            letter-spacing: 0px;
            margin-bottom: 2rem;
            color: #000000;
        }

        .pays {
            display: flex;
            gap: 1rem;


            img {
                width: 166.5px;

            }
        }
    }

    .debit-card {
        position: absolute;
        width: 414px;
        height: 424px;
        padding: 1rem 24px;
        border-radius: 24px;
        background-color: #FFFFFF;
        border: 1px solid #75796C;
        left: 35%;
        top: 150px;
        


        .vector {
            margin-left: 90%;
            cursor: pointer;
       
        }

        .debit-close {
            width: 84px;
            height: 48px;
            margin-top: 2rem;
            margin-left: 80%;
            background: none;
            border: 1px solid #6A6C68;
            border-radius: 100px;
            cursor: pointer;
            
        }



        h3 {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 22px;
            line-height: 28px;
            letter-spacing: 0px;
            color: #101110;
            margin-bottom: 1rem;
        }

        img {
            margin-top: 1rem;
        }

    }

    .products {
        width: 775px;
        display: flex;
        flex-direction: column;
        gap: 1rem;  


        .product {
            padding: 24px;
            border-radius: 12px;
            border: 1px solid #E1E4D5;
            display: flex;
            gap: 1rem;

            .p-img {
                width: 130px;
            }

            .detail {

                .price {
                    display: flex;
                    gap: 1rem;
                    align-items: center;
                }

                p {
                    font-family: "Roboto", sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.25px;
                    color: #292A28  ;
                    // margin-top: 1rem;
                }
                .qty {
                    width: 440px;
                    display: flex;
                    align-items: center;
                    gap: .7rem;
                    margin-top: 1rem;
                    // padding: 24px;
                    border-radius: 12px;
                    // border: 1px solid #E1E4D5;


                    p {
                        margin: 0;
                        font-size: 12px;
                        line-height: 16px;
                        letter-spacing: 0.4px;
                        // align-items: center;
                    }
                    .qtycount {
                        font-weight: 700;
                        font-size: 16px;
                    }

                    button {
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                        border: none;
                        font-size: 15px;
                        font-weight: 500;
                        cursor: pointer;
                    }

                }
            }

            a {
                margin-right: auto;
                color: red;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.4px;

            }
        }
    }

    .summary {
        width: 489px;
        padding: 24px;

        h3 {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 22px;
            line-height: 28px;
            letter-spacing: 0px;
            color: #101110;
            margin-bottom: 1rem;
        }

        .sum {
            display: flex;
            justify-content: space-between;
            // margin-bottom: 1rem;
            align-items: center;

            p {
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.5px;
                color: #44483D;
            }

            h3 {
                font-family: "Roboto", sans-serif;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.15px;
                color: #1A1C16;
            }
        }

        .ship {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;

            p {
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.5px;
                color: #44483D;
            }

            h4 {
                font-family: "Roboto", sans-serif;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.15px;
                color: #1A1C16;
            }
        }

        .total {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;
            margin-top: 1rem;

            p {
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 22px;
                line-height: 28px;
                letter-spacing: 0px ;
                color: #44483D;
            }

            h2 {
                font-family: "Roboto", sans-serif;
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                letter-spacing: 0px;
                color: #000000;
            }
        }

        .continue {
            margin-top: 1rem;
            width: 100%;
            height: 48px;
            border-radius: 100px;
            background-color: #8AC732;
            color: #FFFFFF;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 0.1px;
            vertical-align: middle;
            border: none;
            cursor: pointer;

        }

        .promo {
            margin-top: 5rem;
            width: 480px;
            height: 48px;
            border-radius: 4px;
            border: 1px solid #8D918C;
            padding: 1rem;

        }
        
        .applyBtn {
            margin-left: 300px;
            width: 200px;
            height: 48px;
            border-radius: 50px;
            background-color: #8AC732;
            color: #FFFFFF;
            border: none;
            margin-top: 2rem;
            cursor: pointer;
        }
    }
}


@media (max-width: 1024px) {
    .product-collection {
        flex-direction: column;
        align-items: center;
        padding: 2.5rem 2rem;

        img {
            padding-inline: 0;
        }
    }

    .sansa ul {
        flex-direction: column;
        align-items: center;
    }

    .sansa .buttons {
        flex-direction: column;
    }

    .HTO .hto-container {
        justify-content: center;
    }

    .RAS .ras-container {
        justify-content: center;
    }

    .WYP .wyp-container {
        flex-direction: column;
        align-items: center;
    }

    .BSP .clothing-shoes {
        flex-direction: column;
        align-items: center;
    }
}